*.map
*.dart
*.log
/tool/**/*.js
/ts/**/*.js
/test/**/*.js
node_modules
/.idea
/temp
/.cache
/js/typedocconfig.js
/js/ts
/js/test
/js/**/spec
/.nyc_output
/coverage
.dslink.key
nodes.json

/dist
/test
/example
/docs