{
  "cache": false,
  "extension": [
    ".ts"
  ],
  "include": [
    "ts/src/**/*",
    "js/src/**/*",
    "ts/test/**/*",
    "js/test/**/*"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/node_modules/**"
  ]
}
